<!DOCTYPE html>
<html>
    <head>
        <title>List of Items</title>
    </head>
    <body>
        <h1>List of Items/h1>
            <table>
                <th>Id</th>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>Items Created </th>
                {% for i in items %}
                    <td>{{i.id}}</td>
                    <td>{{i.item_name}}</td>
                    <td>{{i.item_price}}</td>
                    <td>{{i.created_at}}
                {% endfor %}
            </table>
    </body>
</html>