{% extends "index.html" %}
{% block title %}Home | Delicious Bites{% endblock %}
{% block content %}
    <section class="home-section" style="
        background: linear-gradient(135deg, #ffecd2, #fcb69f);
        padding: 40px;
        text-align: center;
        color: #333;
        border-radius: 10px;
        max-width: 800px;
        margin: auto;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    ">
        <h2 style="
            font-size: 36px;
            margin-bottom: 15px;
            color: #e65100;
        ">
        Welcome to {{restaurent_name}}!
        </h2>

        <p style="
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 10px;
        ">
        We Serve mouth-watering meals from around the world to doorstep.
        </p>

        <p style="
            font-size: 18px;
            line-height: 1.6;
        ">
        Explore our menu and enjoy quality food anytime, anywhere
        .</p>
        <h3 style="
        font-size:34px;
        margin:10px;
        color:yellow;
        ">
            Restaurent Phone Number-{{restaurent_phone}}
        </h3>
    </section>
{% endblock %}